<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/navbar' %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'layouts/errors' %>
      <%= yield %>
    </div>
</div>

</body>
</html>
